@import '../styles/colors.scss';

.navbar {
    width: 100%;
    justify-content: space-evenly;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: $color-white;
}