$color-black: #332E2E;
$color-blue-dark: #2D728F;
$color-blue-light: #3B8EA5;
$color-blue-vibrant: #499FB7;
$color-yellow-light: #F5EE9E;
$color-orange-light: #F49E4C;
$color-orange-dark: #C75A22;
$color-red-dark: #AB3428;
$color-grey-light: #6C6C6C;
$color-white: #FFFFFF;

$colors: (
    'black': $color-black,
    'blue-dark': $color-blue-dark,
    'blue-light': $color-blue-light,
    'blue-vibrant': $color-blue-vibrant,
    'yellow-light': $color-yellow-light,
    'orange-light': $color-orange-light,
    'orange-dark': $color-orange-dark,
    'red-dark': $color-red-dark,
    'grey-light': $color-grey-light,
    'white': $color-white
);