@import 'colors.scss';

body {
    font-family: Poppins, Helvetica, sans-serif;
    color: $color-black;
    margin: 0;
}

.flex {
    display: flex;
}
.flex-c {
    display: flex;
    flex-direction: column;
}
.flex-r {
    display: flex;
    flex-direction: row;
}