@import 'colors.scss';

.all-caps {
    text-transform: uppercase;
}

.text {
    @each $key, $val in $colors {
        &--#{$key} {
            color: $val;
        }
    }
    &-link {
        text-decoration: underline;
    }
    &-b {
        font-weight: bold;
    }
    &-i {
        font-style: italic;
    }
    &-a {
        &-c {
            text-align: center;
        }
        &-l {
            text-align: left;
        }
        &-cr {
            text-align: right;
        }
    }
}